.header__logo {
    margin: 0 0 41px;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 424px) {
    .header__logo {     
        margin: 0 0 30px 27px;  
        max-width: 103px;
        max-height: 24px;             
    }
}