.popup-place-img__button {
    position: absolute;
    top: -40px;
    right: -32px;
    background-color: rgba(28,28,28,0);
    border: none;
    max-width: 32px;
    max-height: 32px;
}

.popup-place-img__button:hover {
    cursor: pointer;    
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup-place-img__button {     
        top: -35px;
        right: 0;        
    }
}
