.popup-place-img__image {
    max-width: 75vh;
    max-height: 75vh;
}

@media screen and (max-width: 549px) {
    .popup-place-img__image {    
        max-width: 240px;
    }
}

@media screen and (max-width: 767px) and (min-width: 550px) {
    .popup-place-img__image {    
        max-width: 470px;
    }
}