.popup-place-img__close-icon {
    max-width: 32px;
    max-height: 32px;
}

@media screen and (max-width: 767px) {
    .popup-place-img__close-icon {
        max-width: 20px;
        max-height: 20px;
    }
}